<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <form class="centered-form">
          <div class="form-group row">
            <div class="form-group col-md-7">
              <input class="form-control" type="text" name="destinationHomePage" placeholder="◉ Depart"/>
            </div>
            <div class="form-group col-md-5">
              <input class="form-control" type="date" name="destinationHomePage" placeholder="Enter your destination"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-md-7">
              <input class="form-control" type="text" name="destinationHomePage" placeholder="◉ Destination"/>
            </div>
            <div class="form-group col-md-5">
              <input class="form-control" type="text" name="destinationHomePage" placeholder="🚹 People"/>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="See trip"/>
          </div>
        </form>
      </div>
      <div class="row row-bottom">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <h2>Pourquoi choisir WayMate ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <h2>Pourquoi choisir WayMate ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <h2>Pourquoi choisir WayMate ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <h2>Pourquoi choisir WayMate ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-md-6">
        <img [src] ="ImagePath" height="50" class="image-right" alt="waymate">
     </div>
  </div>
</div>
<router-outlet></router-outlet>


