<!--<div class="container">-->
<!--  <form class="centered-form">-->
<!--    <div class="form-group">-->
<!--      <input class="form-control" type="text" name="locationHomePage" formControlName="location" placeholder="Enter your location"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input class="form-control" type="text" name="destinationHomePage" formControlName="destination" placeholder="Enter your destination"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input class="form-control" type="submit" value="See trip"/>-->
<!--    </div>-->
<!--  </form>-->
<!--  <div class="imageRight">-->
<!--    <img src="assets/img/waymateHome.png" height="500" class="d-inline-block align-top" alt="waymate">-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <form class="centered-form">
          <div class="form-group">
            <input class="form-control" type="text" name="locationHomePage" placeholder="Enter your location"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="destinationHomePage" placeholder="Enter your destination"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="See trip"/>
          </div>
        </form>
      </div>
      <div class="row">
        <h2>Pourquoi choisir WayMate ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Informations légales</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae auctor eu augue ut lectus arcu bibendum at varius. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Egestas diam in arcu cursus euismod quis viverra. Ut ornare lectus sit amet est placerat in egestas erat. Pulvinar mattis nunc sed blandit. Eget mi proin sed libero.</p>
    </div>
  </div>
</div>


