<div class="members">
  <div class="member">
    <img src="https://cdn.discordapp.com/attachments/1162440227558797343/1183810863996616754/WayMate_Logo.png?ex=6589b0c8&is=65773bc8&hm=7dd377dd3a1fb68139037359364442bbb186f3cee44d562880f6c29bd2e25d3c&"/>
    <span class="name">RENAUT Michäel </span>
    <span class="desc">Développeur pour Waymate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
  <div class="member">
    <img src=""/>
    <span class="name">TCHANI Ghislain </span>
    <span class="desc">Développeur pour Waymate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
  <div class="member">
    <img src=""/>
    <span class="name">MANZANO Mathias </span>
    <span class="desc">Développeur pour Waymate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
  <div class="member">
    <img src=""/>
    <span class="name">HAURET Antoine </span>
    <span class="desc">Développeur pour Waymate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
</div>
