<div *ngIf="trip && addressDepart && addressDestination && driver && car" class="gradient-custom-2">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">Trip details</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day">{{trip.date | date:"dd"}}</span>
                  <span class="widget-49-date-month">{{trip.date | date:"MMM"}}</span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title"><i class="fa-solid fa-car"></i> {{addressDepart.city}} <i class="fa-solid fa-arrow-right"></i> {{addressDestination.city}}</span>
                  <span class="widget-49-meeting-time"><i class="fa-solid fa-car"></i> {{trip.date | date:"hh:mm"}} <i class="fa-solid fa-arrow-right"></i> Heure arrivé</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span>You can smoke</span></li>
                <li class="widget-49-meeting-item"><span>You can get luggage with you</span></li>
                <li class="widget-49-meeting-item"><span>You can get pet with you</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <span class="btn-sm btn-flash-border-primary"> €</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">Driver information</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day"><i class="fa-regular fa-user"></i></span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{driver.firstName}} {{driver.lastName}}</span>
                  <span class="widget-49-meeting-time">{{driver.email}}</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-phone"></i> {{driver.phoneNumber}}</span></li>
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-cake-candles"></i> {{driver.birthdate | date:"yyyy-MM-dd"}}</span></li>
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-genderless"></i> {{driver.gender}}</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <span class="btn-sm btn-flash-border-primary">NOTES</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">Car information</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day"><i class="fa-solid fa-car"></i></span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{car.brand}} : {{car.numberPlate}}</span>
                  <span class="widget-49-meeting-time">{{car.model}}</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-chair"></i> {{car.nbSeats}}</span></li>
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-leaf"></i> {{car.fuelType}}</span></li>
                <li class="widget-49-meeting-item"><span><i class="fa-solid fa-car-side"></i> {{car.carType}}</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <span class="btn-sm btn-flash-border-primary">NOTES</span>
              </div>
<!--              <div class="widget-49-title-wrapper">-->
<!--                <div class="widget-49-meeting-info">-->
<!--                  <span class="widget-49-pro-title">Plate Number : {{car.numberPlate}}</span>-->
<!--                  <span class="widget-49-pro-title">Model : {{car.model}}</span>-->
<!--                  <span class="widget-49-pro-title">Number of places : {{car.nbSeats}}</span>-->
<!--                  <span class="widget-49-pro-title">Brand : {{car.brand}}</span>-->
<!--                  <span class="widget-49-pro-title">Fuel Type : {{car.fuelType}}</span>-->
<!--                  <span class="widget-49-pro-title">Car Type : {{car.carType}}</span>-->
<!--                  <span class="widget-49-pro-title"></span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="widget-49-meeting-action">-->
<!--                <span class="btn-sm btn-flash-border-primary"></span>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">test</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day">5</span>
                  <span class="widget-49-date-month">m</span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">h</span>
                  <span class="widget-49-meeting-time">h</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span>You can smoke</span></li>
                <li class="widget-49-meeting-item"><span>You can get luggage with you</span></li>
                <li class="widget-49-meeting-item"><span>You can get pet with you</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <span class="btn-sm btn-flash-border-primary"> €</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
</div>
