<div class="row">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="numberPlate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> numberPlate </th>
        <td mat-cell *matCellDef="let car"> {{car.numberPlate}} </td>
      </ng-container>
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> model </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.model}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.model"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="nbSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nbSeats </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.nbSeats}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.nbSeats"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> brand </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.brand}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.brand"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="carType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> carTpe </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.carType}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.carType"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="fuelType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fuelType </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.fuelType}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.fuelType"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> color </th>
        <td mat-cell *matCellDef="let car">
          <ng-container *ngIf="!car.editMode; else editMode">{{car.color}}</ng-container>
          <ng-template #editMode><input type="text" [(ngModel)]="car.color"></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef><i class="fa-solid fa-pen"></i></th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="!user.editMode; else editMode">
            <a (click)="enableEditMode(user)">
              <i class="fa-solid fa-pen"></i>
            </a>
          </ng-container>
          <ng-template #editMode>
            <a (click)="disableEditMode(user)">
              <i class="fa-solid fa-check"></i>
            </a>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><i class="fa-solid fa-trash"></i></th>
        <td mat-cell *matCellDef="let user">
          <a (click)="deleteUser(user)">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page"></mat-paginator>
  </div>
</div>
