<div class="gradient-custom-2">
  <div class="container py-5 h-100">
    <div *ngIf="formData" class="row d-flex justify-content-center align-items-center h-100">
      <div *ngIf="filteredTrips.length > 0;" class="col-auto">
        <div *ngFor="let trip of filteredTrips; let i = index;"  class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="p-5">
            <p>
              {{trip.id}} - {{trip.idDriver}} - {{trip.smoke}} - {{trip.priceKm}} - {{trip.luggage}} - {{trip.petFriendly}} - {{trip.occupiedSeats}} - {{trip.idStartingPoint}} - {{trip.idDestination}}
              <br>
              Depart Address:
              {{addressDepart[i].id}} - {{addressDepart[i].city}} - {{addressDepart[i].number}} - {{addressDepart[i].postalCode}} - {{addressDepart[i].street}}
              <br>
              Destination Address:
              {{addressDestination[i].id}} - {{addressDestination[i].city}} - {{addressDestination[i].number}} - {{addressDestination[i].postalCode}} - {{addressDestination[i].street}}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="filteredTrips.length == 0;" class="col-auto">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="p-5">
            <p>No matching trips found.</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!formData" class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-auto">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="p-5">
            Home Page form not send.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
