<div *ngIf="formData">
  <div *ngFor="let trip of trips; let i = index;">
    <ng-container *ngIf="addressDepart[i] && addressDestination[i]">
      <p *ngIf="formData.depart === addressDepart[i].city && formData.destination === addressDestination[i].city">
        {{trip.id}} - {{trip.idDriver}} - {{trip.smoke}} - {{trip.priceKm}} - {{trip.luggage}} - {{trip.petFriendly}} - {{trip.occupiedSeats}} - {{trip.idStartingPoint}} - {{trip.idDestination}}
        <br>
        {{addressDepart[i].id}} - {{addressDepart[i].city}} - {{addressDepart[i].number}} - {{addressDepart[i].postalCode}} - {{addressDepart[i].street}}
        <br>
        {{addressDestination[i].id}} - {{addressDestination[i].city}} - {{addressDestination[i].number}} - {{addressDestination[i].postalCode}} - {{addressDestination[i].street}}
      </p>
    </ng-container>
  </div>
</div>
