<div class="container">
  <form class="centered-form" [formGroup]="form" (submit)="onSubmit()">
    <h2 class="centered-title">Registration</h2>
    <div formGroupName="passengerForm">
      <div class="form-group" *ngIf="currentStep === 1">
          <input class="form-control" type="text" name="usernameRegistration" formControlName="username" placeholder="Your username"/>
          <input class="form-control" type="text" name="firstnameRegistration" formControlName="firstname" placeholder="Your firstname"/>
          <input class="form-control" type="text" name="lastnameRegistration" formControlName="lastname" placeholder="Your lastname"/>
          <input class="form-control" type="text" name="phoneNumberRegistration" formControlName="phoneNumber" placeholder="Your phoneNumber"/>
          <input class="form-control" type="text" name="genderRegistration" formControlName="gender" placeholder="Your gender"/>
      </div>
      <div class="form-group" *ngIf="currentStep === 2">
          <input class="form-control" type="password" name="passwordRegistration" formControlName="password" placeholder="Your password"/>
          <input class="form-control" type="password" name="passwordVerifRegistration" formControlName="passwordVerif" placeholder="Your passwordVerif"/>
      </div>
      <div class="form-group" *ngIf="currentStep === 3">
          <input class="form-control" type="email" name="emailRegistration" formControlName="email" placeholder="Your email"/>
      </div>
      <div class="form-group" *ngIf="currentStep === 4">
          <input class="form-control" type="date" name="birthdateRegistration" formControlName="birthdate" min="1900-01-01"/>
      </div>
    </div>
    <div formGroupName="addressForm">
      <div class="form-group" *ngIf="currentStep === 5">
        <input class="form-control" type="text" name="streetRegistration" formControlName="street" placeholder="Your street"/>
        <input class="form-control" type="text" name="postalCodeRegistration" formControlName="postalCode" placeholder="Your postalCode"/>
        <input class="form-control" type="text" name="cityRegistration" formControlName="city" placeholder="Your city"/>
        <input class="form-control" type="text" name="numberRegistration" formControlName="number" placeholder="Your number"/>
      </div>
    </div>
    <div class="button-group" *ngIf="currentStep >= 1 && currentStep<=5">
      <input type="button" class="btn btn-primary" (click)="previousStep()" [disabled]="currentStep <=1 || currentStep >5" value="Previous">
      <input type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="currentStep <1 || currentStep >=5" value="Next">
    </div>
    <div class="box">
      <input class="btn btn-extend" type="submit" value="Register" [disabled]="form.invalid">
    </div>
    <ul>
      <li>
        <span [ngClass]="{'valid': form.get('passengerForm.username')?.valid && form.get('passengerForm.username')?.touched, 'invalid': !form.get('passengerForm.username')?.valid && form.get('passengerForm.username')?.touched && form.get('passengerForm.username')?.dirty }">The username is invalid. Use only letters, numbers, hyphens (-) and underscores (_).</span>
      </li>
      <li>
        <span [ngClass]="{'valid': form.get('passengerForm.password')?.valid && form.get('passengerForm.password')?.touched, 'invalid': !form.get('passengerForm.password')?.valid && form.get('passengerForm.password')?.touched && form.get('passengerForm.password')?.dirty }">The password must contain uppercase letters (A-Z), lowercase letters (a-z), numbers (1-9) and special characters.</span>
      </li>
      <li>
        <span [ngClass]="{'valid': form.get('passengerForm.email')?.valid && form.get('passengerForm.email')?.touched, 'invalid': !form.get('passengerForm.email')?.valid && form.get('passengerForm.email')?.touched && form.get('passengerForm.email')?.dirty }">The email address is invalid.</span>
      </li>
      <li *ngIf="errorMail === true">
        <span>This email address is already in use.</span>
      </li>
      <li *ngIf="errorUsername === true">
        <span>This username is already used.</span>
      </li>
    </ul>
  </form>
</div>
<router-outlet></router-outlet>
